<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

    <!--  Header -->
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

         <!--  body -->
         
         <div class="modal-content" id='modal_content'></div>
         <!-- Modal footer -->
         <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
