<%if current_librarian%>
<h1 class="text-center text-primary"  ><strong>Add new Book</strong></h1>
<div class="text-center text-dark"><%= render partial: "form" %></div>
<%= link_to 'Back to Home',libraryl_path, class: "btn btn-outline-dark" %>
<%end%>