 <%if current_user %>

    <h1 class="text-primary">Return Books</h1>
    <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
   	<th> Student Id </th>
      <th> Book Id </th>
      <th> Return Date </th>
    </tr>
    </thead>
    <tbody>
 <% @showreturnbook.each do |rbs| %>
    <tr>
      <td><%= rbs.librarian_id%></td>
      <td><%= rbs.book_id%></td>
 	   <td><%=rbs.created_at.to_date%></td>
    </tr>
 <% end %>
    </tbody>
    </table> 

 <% end %>