<table class="table table-bordered">
  <thead  class="thead-dark">
    <tr>
      <th>name</th>
      <th>email</th>
      <th>usertype</th>
    </tr>
  </thead>
  <tbody  >
    <% @librarian.each do |librarian| %>
    <tr>
      <td><%= link_to librarian.name%></td>
      <td><%= link_to librarian.email %></td>
      <td><%= link_to librarian.usertype%> </td>
    </tr>
    <% end %>
  </tbody>
</table>




