
<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>libraryapp</title>
    <nav class="navbar navbar-dark bg-dark ">
    
    <a class="navbar-brand  " href="">Library Management System</a>
    <%if current_librarian %>
    <div class="dropdown">
  <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown
  </button>
  <ul class="dropdown-menu">
    
    <li><a class="dropdown-item" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
View Profile</a></li>

    <li><a class="dropdown-item" href="/logout">Logout</a></li>
  </ul>
</div>
   <a  class="navbar-brand  " href="/libraryl">Home</a>
   <a  class="navbar-brand  pull-right" href="/logout">Logout</a>
  <% else %>
   <a  class="navbar-brand  pull-right" href="/signup">signup</a>
    <a  class="navbar-brand  pull-right" href="/login">Login</a>
 <%end%>
</nav>


</head>
  <body>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

 </body>
</html>